.fullsize {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.fullwindow {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 30px;
}

#screen {
  background: rgb(0, 38, 255);
  background: linear-gradient(164deg, rgb(0, 38, 255) 0%, rgb(87, 0, 233) 50%, rgb(194, 0, 198) 100%);
  overflow: hidden;
}

.taskbar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 99999;
}

#homebutton {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2) url("assets/img/logo_basic.png");
  background-size: cover;
  transition: 0.05s ease-in;
}

#homebutton:hover {
  background: rgba(0, 0, 0, 0.4) url("assets/img/logo_basic.png");
  background-size: cover;
}

#homebutton:active {
  background: rgba(0, 0, 0, 0.3) url("assets/img/logo_basic.png");
  background-size: cover;
}

#homemenu {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 300px;
  height: 500px;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}
#homemenu p {
  padding-top: 20px;
  text-align: center;
}

#allwindows {
  flex-grow: 1;
  overflow-y: auto;
}

#datetime {
  width: 100px;
  text-align: center;
  user-select: none;
  margin: auto;
  font-size: 14px;
}

#time {
  margin-bottom: 1px;
  margin-top: -2px;
}

.hidden {
  display: none !important;
}

.homemenufooter {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: black;
}

.infobutton {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: 1px solid white;
  right: 7px;
  top: 7px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  background: rgba(255, 255, 255, 0);
  transition: 0.05s ease-in;
}

.infobutton:hover {
  background: rgba(255, 255, 255, 0.2);
}

.infobutton:active {
  background: rgba(255, 255, 255, 0.1);
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#desktopicons {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.icon {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.icon .picture {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon p {
  width: 100%;
  text-align: center;
  user-select: none;
}

.icon:hover {
  background: rgba(0, 0, 0, 0.15);
}

.icon:active {
  background: rgba(0, 0, 0, 0.1);
}

.window {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  backdrop-filter: blur(5px);
}

.window:has(.window-content > .large) {
  width: 1000px;
  height: 600px;
}

.titlebar {
  width: 100%;
  height: 30px;
  background: black;
  display: flex;
  box-sizing: border-box;
  user-select: none;
  cursor: move;
}
.titlebar .title {
  flex-grow: 1;
  margin: auto auto auto 5px;
}
.titlebar .buttons {
  margin: auto;
}
.titlebar .buttons .close {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 100px;
  background: red;
  cursor: pointer;
}

.window-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.info-logo {
  width: 200px;
  height: 270px;
  background-image: url("assets/img/logo_basic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info-flex {
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.info-content {
  margin: auto 10px auto 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  user-select: none;
}

.no-event {
  pointer-events: none;
}

.invisible {
  color: transparent;
  background: none;
  caret-color: white;
}

.no-margin {
  margin: 0;
}

.editor-shared {
  font-family: Roboto-flex, OpenSans, sans-serif;
  font-size: 16px;
  border: none;
  padding: 0;
  resize: none;
  overflow: auto;
}

/*# sourceMappingURL=osstyle.css.map */
